#p1{
    color: #fff;
    background-color: #f43aff;
    padding: 15px;
    margin-top: 20px;
}
.paragraph{

    font-size: 18px;
    padding: 50%;
}

h3{
    text-align: center;
    color: #000;
}